<!DOCTYPE html>
<html>
<head>



<title>WeCard</title>

</head>

<body>

<div class="page">

<h1>We Card</h1>



  <button class="btn">
    <%= link_to 'Login', new_sessions_path %>
  </button>
  <button class="btn">
    <%= link_to 'Sign Up', new_user_path %>
  </button>
</div>


<div class= "row1">
Invite.
</div>

<div class= "row2">
Record.
</div>

<div class= "row3">
Send.
</div>







</body>
</html>

<!--         <iframe width="560" height="315" src="https://www.youtube.com/embed/k4YRWT_Aldo?autoplay=1" frameborder="0" allowfullscreen></iframe> -->
<!--     <div class="bottom">
        <div class="header-bottom-grid1">
            Invite
        </div>
        <div class="header-bottom-grid2">
            Record
        </div>
        <div class="header-bottom-grid3">
            Send
        </div>
    </div> -->






