<!DOCTYPE HTML>
<html>

  <head>
  
    <title>WeCard</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.scrollgress.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="css/skel.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/style-wide.css" />
      <link rel="stylesheet" href="css/style-noscript.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
  </head>
  <body class="index">

    <!-- Header -->
      <header id="header" class="alt">
        
        <nav id="nav">
          <ul>
            <li class="current"><a href="index.html">ABOUT</a></li>
            <li class="submenu">
              <a href="sessions/new">LOGIN</a>
              <ul>
                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                <li><a href="no-sidebar.html">No Sidebar</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li class="submenu">
                  <a href="">Submenu</a>
                  <ul>
                    <li><a href="#">Dolore Sed</a></li>
                    <li><a href="#">Consequat</a></li>
                    <li><a href="#">Lorem Magna</a></li>
                    <li><a href="#">Sed Magna</a></li>
                    <li><a href="#">Ipsum Nisl</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="users/new" class="button special">Sign Up</a></li>
          </ul>


        </nav>
                <br/>
      </header>

    <!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">

          <header>
            <h2>WeCard</h2>
          </header>
          <p>Invite. <strong>Record. </strong>Send.
          <br />

          <br />
          <a href="http://html5up.net"></a>-</p>
          <footer>
            <ul class="buttons vertical">
              <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
          </footer>

        </div>

      </section>

    <!-- Main -->
      <article id="main">

        <header class="special container">
          <span class="icon fa-bar-chart-o"></span>
          <h2>Personal <strong>video </strong>greeting cards
          <br />
          </h2>
          <p>Choose your collaborators.<strong><br />Upload videos.<br /></strong> Send a group greeting to that special someone.
          <br />

        </header>



    <!-- CTA -->
      <section id="cta">

        <header>
          <h2>Ready to send <strong>something</strong>?</h2>
          <p>Sign Up</p>
        </header>
        <footer>
          <ul class="buttons">
            <li><a href="users/new" class="button special">Sign Up</a></li>
            <li><a href="#" class="button">GUEST RESPONSE</a></li>
          </ul>
        </footer>

      </section>

    <!-- Footer -->
      <footer id="footer">

        <ul class="icons">
          <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
          <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
          <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
        </ul>

        <ul class="copyright">
          <li>&copy; WeCard</li>
        </ul>

      </footer>

  </body>
</html>
<!-- <!DOCTYPE html>
<html>
<head>



<title>WeCard</title>

</head>

<body>

<div class="page">

<h1>We Card</h1>



  <button class="btn">
    <%= link_to 'Login', new_sessions_path %>
  </button>
  <button class="btn">
    <%= link_to 'Sign Up', new_user_path %>
  </button>
</div>


<div class= "row1">
Invite.
</div>

<div class= "row2">
Record.
</div>

<div class= "row3">
Send.
</div>







</body>
</html> -->

<!--         <iframe width="560" height="315" src="https://www.youtube.com/embed/k4YRWT_Aldo?autoplay=1" frameborder="0" allowfullscreen></iframe> -->
<!--     <div class="bottom">
        <div class="header-bottom-grid1">
            Invite
        </div>
        <div class="header-bottom-grid2">
            Record
        </div>
        <div class="header-bottom-grid3">
            Send
        </div>
    </div> -->






