<h1> Project: <%= @invitation.title %> </h1>
<h4>Description: <%= @invitation.description %></h4>

<p>This project is for <%= @invitation.recipient %> </p>

<%= link_to 'Back to Dashboard!', invitations_path %>