<h1>GUEST RESPONSE</h1>

    <%# if %>
	<%#= javascript_include_tag "webcam.js" %>

	<%# end %>

<div class="actions">
	<%= form_for @invitation, :html => { :multipart => true } do |f| %>
		<%= f.file_field :video %>
		<br />
		<br />
		<%= f.submit "SAVE"%>

	<% end %>


</div>


<video id="player" autoplay="true"></video>


