<h1>GUEST RESPONSE</h1>

	<%= form_for (@invitation) do |f| %>

    <% if %>
	<%= javascript_include_tag "webcam.js" %>

	<% end %>

  <div class="actions">
    <%= f.submit "Upload Video" %>
  </div>


<% end %>

  <video id="player" autoplay="true"></video>


