<h1>GUEST RESPONSE</h1>

    <%# if %>
	<%#= javascript_include_tag "webcam.js" %>

	<%# end %>

<div class="actions">
	<%= form_for @invitation, :url => users_path, :html => { :multipart => true } do |form| %>
		<%= form.file_field :video %>
	<% end %>


</div>


<video id="player" autoplay="true"></video>


