<h1>Response#show</h1>
<p>Find me in app/views/response/show.html.erb</p>


<h3>Hi there, <%= @invitee_name %>!
Upload your snippet for <%= @invitation.title %> </h3>

<br />

<%= form_for (@invitation) do |f| %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>