/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import "bootstrap";


/*body {
	color: #575C7A;
	font-family: 'Karla', sans-serif;
	background: url(image-path("upfeathers.png"));
	text-align: center;
}

.page {
	max-width: 980px;
	margin: 0px auto 0px auto;
	position: relative;
	background-color: #fff;
}


.row1, .row2, .row3 {
	height: 200px;
	width: 200px;
	background-color: black;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	text-align: center;
	margin-top: 40px;
	color: white;
	font-size: 40px;
}


.dashboard {
	margin: 5px auto;
	width: 90%;
	padding: 15px;
}

.invitationout {
	width: 100%;
	border: 2px solid black;
	border-radius: 10px;
}
*/



