// Place all the styles related to the response controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
	text-align: center;
}

.actions {
	text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
}
 
#player {
  width: 100%;
  height: 100%;
}