<h1></h1>

<p>
  <%= @greeting %> <%= @invitation.recipient %>, this is your personal video greeting card from 
  <% @invitation.responses.each do |r| %>
  	<%= r.invitee_name %>
  <% end %>

<br />
  Click on the following link to view:
  <%= link_to 'My WeCard', view_path(@invitation) %> 
</p>
