<h1>ResponseMailer#send_response</h1>

<p>
  <%= @greeting %>, find me in app/views/response_mailer/send_response.html.erb
  <%= link_to 'Upload Video', invitation_response_path(@response.invitation, @response) %> 
</p>
